.filebox{
    display:inline-block;
}
.filebox .upload-name {
    padding: 6px 10px;
    border: 1px solid #dddddd;
    color: #999;
    margin:3px 0 0 0;
}
.filebox label {
    font-size:12px;
    padding:6px 15px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.delAll_button{
    background:#FFDDDD;
}